/* Divison */
.division .division-title {
  margin: 0px auto;
  color: white;
  position: relative;
  width: 15%;
  display: flex;
  justify-content: center;
  margin-bottom: 4.1rem;
}

.division .division-title h1 {
  font-weight: 800;
  font-size: 30px;
}

.division .division-title::after {
  content: "";
  display: block;
  position: absolute;
  margin: 0 auto;
  bottom: 5px;
  width: 85%;
  height: 0.2rem;
  background: white;
}

.yellow {
  width: 68%;
  height: 20em;
  background-color: var(--yellow);
  color: #21325e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0;
  margin-bottom: 3.1rem;
}

.blue {
  width: 68%;
  height: 20em;
  background-color: #3e497a;
  color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
  margin-bottom: 3.1rem;
}

.blue .title {
  text-align: right;
}

.elemen {
  width: 650px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.1rem;
}

/*.elemen .icon h1 {
  font-size: 12em;
  font-weight: 600;
}*/

.elemen .desc .title {
  font-size: 2.5em;
  font-weight: 800;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.elemen .desc p {
  font-weight: 500;
  font-size: 1.1em;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-align: justify;
}

/* Progress */
section.progress {
  width: 100%;
  height: 30%;
  background-color: var(--yellow);
  padding: 7% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  border-radius: 0 0 0 0;
}

.progress h1 {
  font-weight: 600;
  font-size: 30px;
}

.progress .progress-title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.progress .progress-title h1 {
  color:var(--nav);
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
.progress .progress-title h1::after {
  content: "";
  position: absolute;
  height: 3px;
  background: var(--navy);
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
/* End */