/* Responsive Media Query */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}


@media (max-width: 1000px) {
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right {
    width: 100%;
/*    margin: 40px 0;*/
  }
  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }
  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0e2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu {
    left: 0;
  }
  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover {
    color: #4070f4;
  }
  nav .navbar .media-icons {
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }
  .home .text-two {
    font-size: 65px;
  }
  .home .text-three {
    font-size: 35px;
  }
  .skills .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }
  .contact .text {
    width: 100%;
  }
	
  /*  Division  */
  .division .division-title h1 {
    font-size: 2rem;
  }

  .yellow,
  .blue {
    font-size: 10px;
    width: 100%!important;
    height: 1rem;
    border-radius: 0 0 0 0;
    padding: 1.4rem;
    margin-bottom: 1rem;
  }

  .elemen .icon h1 {
    font-size: 9rem;
  }

  .elemen .desc .title {
    font-size: 1.8rem;
  }

  .elemen .desc p {
    font-size: 1rem;
  }

  .progress .progres-title {
    width: 40%;
  }

  section.progress {
    gap: 2.5rem;
    border-radius: 0 0 0 0;
  }

  iframe {
    height: 20rem;
    width: 33rem;
  }
}

@media (max-width: 500px) {
  .home .text-two {
    font-size: 30px;
  }
  .home .text-three {
    font-size: 18px;
  }
  .skills-details .boxes .per {
    font-size: 50px;
    color: #4070f4;
  }
}
